.header {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 12px 4px 4px 16px;
  background-color: white;
  color: black;
}

.header__logo .MuiSvgIcon-root {
  color: #e60023;
  font-size: 32px;
  cursor: pointer;
}

.header__button {
  display: flex;
  height: 48px;
  min-width: 123px;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  background-color: rgb(17, 17, 17);
  cursor: pointer;
}

.homePage a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.following {
  background-color: white;
}

.following:hover {
  background-color: #e1e1e1;
}

.following a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.header__search {
  flex: 1;
}

.header__searchContainer {
  background-color: #efefef;
  display: flex;
  height: 48px;
  width: 100%;
  border-radius: 50px;
  border: none;
  padding-left: 10px;
}

.header__searchContainer form {
  display: flex;
  flex: 1;
}

.header__searchContainer > form > input {
  background-color: transparent;
  border: none;
  width: 100%;
  margin-left: 5px;
  font-size: 16px;
}

.header__searchContainer > form > button {
  display: none;
}

.header__searchContainer > form > input:focus {
  outline: none;
}

.header__searchContainer > form > input:active {
  outline: none;
}

.header__searchContainer > form > input:hover {
  outline: none;
}
